.App{
    background-color:oldlace;
}
.headerBrand{
    margin-left: 5%;
    font-weight: bold;
}
.headerMenuItem{
    margin-right: 20px;
    height: 40px;
}
.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 90px;
    margin-top: 50px;
}
.formLabel{
    margin-top: 15px;
    margin-bottom: 10px;
    font-size: 18px;
    color: darkslategray;
}
.formField{
    height: 50px;
    font-size: 18px;
}
.header{
    height: 80px;
}